<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Question Form</h1>

    <label for="question">{{model[page - 1].title}}</label>
    <div *ngFor="let opts of model[page - 1].options">
      <button type="button" class="list-group-item btn-outline-primary" [ngClass]="{'active': model[page - 1].selectedOption == opts}" (click)="questionProgress = onAnswer(model[page - 1], opts, questionProgress, model.length)">
        {{opts}}
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngb-pagination class="pull-left" [collectionSize]="model.length" [(page)]="page" aria-label="Default pagination" [pageSize]="1"></ngb-pagination>
    <br>
    &nbsp; &nbsp;
    <button type="button" class="btn btn-success" (click)="showResults = true">Submit</button>
  </div>
  <div class="col-md-8">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><ngb-progressbar type="success" [showValue]="true" [value]="questionProgress" [striped]="true" [animated]="true"></ngb-progressbar></p>
  </div>
</div>
<div class="row">

  <div class="text-center">
    <div  *ngIf="showResults">
      <div *ngFor="let q of model">
        <label> {{q.title}} : {{q.selectedOption}} </label>
      </div>
    </div>
  </div>

</div>

</div>
