<div class="questions container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Question Form</h1>
  </div>
  <div class="panel-body">

<div class="row">
  <div class="col-md-12">
    <div *ngFor="let q of model; let isFirst = first; let index = index; let isLast = last">

        <div *ngIf="isFirst || (index > 0 && model[index - 1].selectedOption)" [@questionState]>
          <div class="panel panel-default">
          <div class="panel-heading">
            <label for="question">{{q.title}}</label>
          </div>
          <div class="panel-body">

          <div *ngFor="let opts of q.options" class="questionResponses">
            <button type="button" class="list-group-item" [ngClass]="{'active': q.selectedOption == opts}" (click)="questionProgress = onAnswer(q, opts, questionProgress, model.length)">
              {{opts}}
            </button>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><ngb-progressbar type="success" [showValue]="true" [value]="questionProgress" [striped]="true" [animated]="true"></ngb-progressbar></p>
  </div>
</div>
<div class="row">

  <div class="col-md-12 text-center">
    <div  *ngIf="showResults">
      <div *ngFor="let q of model">
        <label> {{q.title}} : {{q.selectedOption}} </label>
      </div>
    </div>
  </div>

</div>

</div>
</div>

</div>
