<div class="questions container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h1 class="panelTitle">
            Patient Decision Aid (BETA test)
          </h1>
        </div>
        <div class="col-md-6">
          <a href="http://ckmcare.com/NodeResources/AlgorithmView?resourceId=210#uni152" class="backButton">
            <button type="button" class="btn"> Back </button>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let q of model; let isFirst = first; let index = index; let isLast = last">
            <div *ngIf="isFirst || (index > 0 && model[index - 1].selectedOption)" [@questionState]>
              <div class="panel panel-default">
                <div class="panel-heading innerPanelLabel">
                  {{index+1}}. {{q.title}}
                </div>
                <div class="panel-body">
                  <div *ngFor="let opts of getValues(q.options)" class="questionResponses">
                    <button type="button" class="list-group-item" [ngClass]="{'active': q.selectedOption == opts}" (click)="questionProgress = onAnswer(q, opts, questionProgress, model.length)">
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> {{opts}}
                    </button>
                  </div>
                  <div *ngFor="let a of accordions;">
                    <div *ngIf="a.questionID == q.id">
                      <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel>
                          <ng-template ngbPanelTitle>
                            <div class="accordionsTitle">
                              {{a.title}}
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            {{a.information}}
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><ngb-progressbar type="success" [value]="questionProgress" [striped]="true" [animated]="true"></ngb-progressbar></p>
        </div>
      </div>
      <div class="row" *ngIf="questionProgress >= 99.9999">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-success" (click)="onSubmitForm()"> Submit </button>
          <button [hidden]="!showResults" id='loadingButton' type="button" class="btn btn-success" (click)="downloadPDF()"> Download </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div  *ngIf="showResults">
            <div id="exportthis">
              <div class="panel panel-default">
                <div class="panel-heading innerPanelLabel">
                  Patient Decision Aid Summary
                </div>
                <div class="panel-body">
                  <div class="table-responsive" id="treatmentOptionsDiv">
                    <p>
                      Here is a summary of your treatment options based on your responses. This tool is not intended as medical advice or to suggest treatment. However, you can use it to talk with your healthcare team or loved ones about your decision.
                    </p>
                    <table class="table table-condensed table-bordered">
                      <thead class="tableHead">
                        <tr>
                          <th scope="col">
                            &nbsp;
                          </th>
                          <th scope="col">
                            <strong>
                              Conservative Kidney Management (CKM)
                            </strong>
                            <br>No dialysis or transplant
                          </th>
                          <th rowspan="1" colspan="2" scope="col">
                            Dialysis
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td rowspan="2" colspan="1">
                            <strong>
                              How does this treatment work?
                            </strong>
                          </td>
                          <td rowspan="2" colspan="1">
                            CKM is a treatment option for managing kidney failure. It involves:
                            <ul>
                              <li>
                                Treating symptoms
                              </li>
                              <li>
                                Preventing or managing problems.
                              </li>
                              <li>
                                Protecting remaining kidney function.
                              </li>
                              <li>
                                Psychosocial care.
                              </li>
                              <li>
                                Helping plan for the future.
                              </li>
                            </ul>
                            CKM does <em> <strong>not</strong> </em> include dialysis, but it does include all of the other parts of kidney care.&nbsp;The goal of CKM is to live well without dialysis.&nbsp;To learn more about CKM click <a target="_blank" href="http://ckmcare.com/Resources/Details/108">here</a>.
                          </td>
                          <td rowspan="1" colspan="2">
                            Dialysis is a medical treatment that does some of the kidneys’ work to remove toxins and water from your body. It will not cure kidney disease or stop kidneys from getting worse. Dialysis will not treat other medical problems like diabetes or heart conditions. It requires a great deal of time and effort. Patients’ experiences vary widely. In general, the healthier you are, the more likely you are to find it helpful. There are two main types of dialysis. To learn more about dialysis and to see how it actually works, click <a target="_blank" href="http://www.youtube.com/watch?v=mi34xCfmLhw">here</a>.
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong><u>Peritoneal dialysis</u> </strong><br>This type of dialysis happens inside your body and uses the lining of your belly to remove toxins and water. Clean fluid goes in your belly through a tube and fluid with toxins is flushed out. You can do this at home.
                          </td>
                          <td>
                            <u><strong>Hemodialysis</strong> </u><br>This type of dialysis happens outside your body. A machine filters your blood and then returns it to your body. Hemodialysis is usually done in a dialysis unit in a clinic or hospital. Some patients can do it at home.
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Can I change from one treatment to another?</strong>
                          </td>
                          <td>
                            You can change your mind. All options may still be possible.
                          </td>
                          <td rowspan="1" colspan="2">
                            You can change your mind. All options may still be possible.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="table-responsive" id="myPrognosisDiv">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading innerPanelLabel">
              Additional Considerations
            </div>
            <div class="panel-body">
              <p class=""><strong><em> <i>
                Your personal feelings are just as important as the medical facts. You can use the following section to think about what else matters to you in this decision, and record how you feel about the following statements.
              </i> </em> </strong>
            </p>
            <p class="additionalQuestion"> Write! </p>
            <textarea class="form-control" rows="3"></textarea>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
