.questions {
}

.questionResponses {
  font-weight: 500;
}

.questionResponses button:hover {
  background-color: #a574a8 !important;
  color: white;
  box-shadow: inset 0 0 0 5px #53a7ea;
}

.questionResponses button:focus {
  background-color: #a568a8 !important;
  color: white;
}
.questionResponses button:focus:hover {
  background-color: #a568a8 !important;
  color: white;
}

.backButton button {
  color: white;
  background-color: #a568a8 !important;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.panelTitle {
  font-size: 18px;
letter-spacing: 1px;
font-weight: 900;
color: #533155;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.questionLabel {
  letter-spacing: 1px;
  font-weight: 900;
  color: #533155;
  font-family: 'Open Sans', sans-serif;
}

.heading {
  
}

.innerPanelLabel {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #533155;
}

.additionalQuestion {

}

.backButton button:hover {
  color: white;
  background-color: #533155 !important;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.active {
  background-color: #a568a8 !important;
  color: white;
  box-shadow: inset 0 0 0 5px #53a7ea;
}

.questionResponses {
  padding-bottom: 5px;
}

.accordionsTitle {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #533155;
  font-family: 'Open Sans', sans-serif;
}
.card-header {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #533155;
  font-family: 'Open Sans', sans-serif;
}

#pdfViewer {
  width: 100%;
  height: 100%;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
